*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline;
    
}

button{
    border: none;
    padding: 5px 10px;
    background-color: white;

}
  
.image1{
    float: right;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: r;
}

.image2{
    float: left;
    width: 70px;
    height: 70px;
}

.IRCTC_header{
    height: 600px;
}

.background-image{
    display: flex;
    background-image: url(images/indian_railways2.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}