    *{
    box-sizing: border-box;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 5px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.image1{
    float: left;
}

.image2{
    float: right;
}

.IRCTC header{
    margin-top: 20px;
    background-color: rgb(17, 11, 11);
}

li{
    display: inline;
    padding: 5px 10px;
    list-style-type: none;
}

button{
    background-color: white;
    border-color: white;
    color: black;
    font-size: small;
    padding: 5px 20px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}



/* ------- */
.Trains{
    display: inline-block;
}

.Trainsdropdown{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.Trainsdropdown a{
    color:black;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.Trainsdropdown a:hover{
    background-color: rgba(0, 128, 0, 0.333);
}

.Trains:hover .Trainsdropdown{
    display: block;
}

.Trainsdropdown{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}

.Trainsdropdown{
    float: none;
}
/* ------ */

.Holidays{
    display: inline-block;
}

.Holidaysdropdown{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.Holidaysdropdown a{
    color:black;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.Holidaysdropdown a:hover{
    background-color: rgba(0, 128, 0, 0.333);
}

.Holidays:hover .Holidaysdropdown{
    display: block;
}

.Holidaysdropdown{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}

.Holidaysdropdown{
    float: none;
}

/* ---- */



/* ---- */
.Loyalty{
    display: inline-block;
}

.Loyaltydropdown{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.Loyaltydropdown a{
    color:black;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.Loyaltydropdown a:hover{
    background-color: rgba(0, 128, 0, 0.333);
}

.Loyalty:hover .dropdown-content{
    display: block;
}

.Loyalty:hover .Loyaltydropdown{
    display: block;
}

.Loyaltydropdown{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
}

.Loyaltydropdown{
    float: none;
}

button:hover{
    background-color: rgba(6, 6, 91, 0.796);
    color: white;
}

.Loyalty:hover{
    background-color: white;
    font-weight: bold;
}

.background-image{
    object-fit: cover;
    background-image: url(images/indian_railways2.jpg);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;     
    padding-top: 90px; 
}

#head1{
    width: 400px;
    text-align: right;
    margin-left: 780px;
    font-size: 45px;
    padding-top: 60px;
}

#head2{
    width: 300px;
    text-align: right;
    margin-left: 800px;
    padding-top: 10px;
}

.railwaysclass{
    width: 750px;
    padding-bottom: 20px;

}
.tableform{
    height: 400px;
    width: 630px;
    padding: 10px 50px;
    background-color: white;
    margin-left: 40px;
    z-index: 0;
    bottom: 40px;
}

.formbutton{
    padding: 5px 20px;
    background-color: darkblue;
    width: 220px;
    color: white;
}

td{
    font-size: medium;
    font-weight: 300;
    color: rgba(26, 26, 172, 0.815);
}
input, select{
    padding: 5px 10px;
}

.button1{
    background-color: orange;
    border-radius: 10px;
    padding:5px 10px;
}
.button2{
    background-color: rgb(16,236,16);
    border-radius: 10px;
    padding: 5px 10px;
    overflow: hidden;
}

.para1{
    width: 630px;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 15px;
    background-color: white;
    height: 60px;
    font-size: 11.5px;
    color: red;
}

.icon1{
    width: 1200px;
    height: 500px;
    margin-left: 85px;
}

.normalheading{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
}


.icon1 ul li{
    display: inline-block;
    padding: 30px;
}

.icon1 ul li img{
    width: 55px;
    height: 55px;
}

.icon1 ul li h5{
    width: 100px;
}

#adContainer{
    margin-top: 50px;
    border-radius: 10px;
}

#HOLIDAYS{
    text-align: center;
    margin-top: 70px;
    padding: 40px;
}

.box ul{
    width: 100%;
    height: 450px;
}
.box ul li{
    list-style-type: none; 
    display: inline-block;
}
.box1{
    border:1px solid black;
    width: 250px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    padding: 20px;
}

.box2{
    border:1px solid black;
    width: 250px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    padding: 20px;
}

.box3{
    border:1px solid black;
    width: 250px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    padding: 20px;
}

.box4{
    border:1px solid black;
    width: 250px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    padding: 20px;
}

.box5{
    border:1px solid black;
    width: 250px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    padding: 20px;
}

.lastpart h3{
    color: white;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(100deg,rgba(0, 0, 139, 0.678),rgba(128, 0, 128, 0.634));
}

.lastpart a img{
    width: 30px;
    height: 20px;
    padding-left: 7px;
}
